
html {
    margin-top: 80px;
}

.listado, .favorites, .resultados, .detalle{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.home {
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/background7.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin: 0!important;
}

.users-logo2{
    height: 70vh;
    margin-top: 30px;
    display:block;
    margin:auto;
}

.users-form input {
    border: rgb(1, 131, 174) 1px solid;
    border-radius: 5px;
}

.users-form input[type=text], .users-form input[type=password] {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

.users-form{
   text-align: center; 
}

.welcome {
    margin-top: -100px;
}

.favourite-btn {
    width: 30px;
    height: 30px;
    background-color: #f2f2f2;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
    border:none;
}

.users {
    margin-top: 20px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.movie-card{
    margin-bottom: 10px;
}

.section-title{
    color: #ab0535;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:650;
    letter-spacing: 3px;
    padding-bottom: 20px;
}


@media screen and (max-width: 640px) {

    .welcome{
        display: none;
    }
    
    .users-logo{
        display: none;
    }

    .col-4{
        width: 100vw!important;
    }

    .home {
        background-image: unset;
        background-color: #c7e0f6
    }

    .users-logo2{
        width: 80vw;
        height: auto;
    }

    .users-form{
        width: 50%;
        margin: 0px auto 100px auto;
        padding-left: 0;
        text-align: center;
    }

    .movie-card {
        width: 100%;
        padding-left: 2px;
        padding-right: 2px;
    }

    .favs-card{
        width: 100%;
        padding-left: 2px;
        padding-right: 2px;
        margin-bottom: 12px;
    }

}