.favourite-btn {
    width: 30px;
    height: 30px;
    background-color: #f2f2f2;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
    border:none;
}

.users {
    margin-top: 20px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.movie-card{
    margin-bottom: 10px;
}