nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 2px;
    background-color: #ab0535;
    overflow: hidden;
    height: 53px;
}

nav li {
    float: left;
}


nav li a:hover, nav li button:hover {
    float: left;
    color:white;
    text-shadow: 1px 1px 5px white;
}

.nav-right {
    float:right;
    
}

.buscador{
    margin-top:5px;
    margin-right: 10px;
    border-left: 1px solid #bbb;
}

.vertically-center {
    right: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

li a, li button {
    display: block;
    padding: 12px 15px;
    color: white;
    text-decoration: none;
}


.logo-header {
    width: 80px;
    margin-top:-8px;
}

.logo-header-small {
    width: 43px;
    margin-top:-8px;
}


.favorites-num {
    color: rgb(197, 241, 176);
    /* font-weight: bold; */
    /* border: 1px white solid;
    background-color: white;
    border-radius: 45px; */
    /* text-shadow: 1px 1px 5px white; */
}

.logo-small, .favs-small, .coming-small{
    display: none;
}

.login, .logout{
    color: rgb(224, 224, 224);
    border: none;
    background-color: #ab0535;
}


/* .button {
    background-color: rgb(81, 187, 32);
} */





@media screen and (max-width: 640px) {


    li a, li button {
        display: block;
        padding: 12px 6px;
        color: white;
        text-decoration: none;
    }

    .btn-search{
        display: none;
    }


    .logo-header {
        width: 80px;
        margin-right: 6px;
        margin-left: 6px;
        margin-top:-8px;
    }

    .logo-big, .coming-big, .favs-big{
        display: none;
    }

    .logo-small, .coming-small, .favs-small{
        display: initial;
    }



    .buscador{
        display: none;
    }

    .logout{
        margin-right: 6px;
    }


}